<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="sitePath" value="https://dxcportal.sharepoint.com/sites/ccmProgramDelivery/edocsccm" />
    <add key="flePath" value="https://dxcportal.sharepoint.com/:u:/r/sites/ccmProgramDelivery/edocsccm/Shared%20Documents/CCM%20Support%20Manila%20Team/Empower/Empower%20User%20Tool/customSecurityContext.xml?csf=1&amp;web=1&amp;e=gqi7LD" />
    <add key="email" value="email@dxc.com" />
    <add key="password" value="" />
    <add key="save" value="false" />
  </appSettings>
</configuration>